<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Hot Topic Articles</h1>
        </div>
    </section>
    <div class="articles">
        <h1>The Value of Money</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="article-img" src="./../img/money.png" alt="Value Of Money">
                    <figcaption><i>Economical value of money</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>
                        Money holds diverse significance beyond its role as a means of trade. Economically, it enables efficient transactions and fuels innovation. On a personal level, money can bring security and contentment, yet excessive focus on it may lead to diminishing emotional returns. Societally, money influences social hierarchies and opportunities, potentially causing inequalities. It fuels consumerism and materialism, impacting the environment and well-being. However, money also has the power to drive positive change through philanthropy. Understanding these layers of value can lead to a more balanced and mindful approach to money in our lives and society.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>GMO food</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="article-img" src="./../img/food.png" alt="GMO Food">
                    <figcaption><i>GMO food</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>GMO (Genetically Modified Organism) foods are made by using scientific techniques to alter the genetic structure of plants or animals. This is done to improve specific qualities, such as increasing the nutritional value of crops or making them more pest-resistant. While GMOs may increase food production and have other advantages, there are also concerns about their possible negative consequences on human health and the environment. GMOs are studied by scientists to make sure they are safe to eat and don't hurt the environment, despite some people's concerns that they may pose unforeseen problems.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>The View of World in 2100</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="article-img" src="./../img/world.png" alt="World’s population by 2100">
                    <figcaption><i>World’s population by 2100</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>According to a Pew Research Center analysis of recent data from the United Nations, the world's population is predicted to essentially stop expanding by the end of this century for the first time in modern history, in large part because of declining global birth rates.

                        The world's population is anticipated to reach 10.9 billion people by the year 2100, growing at an annual pace of less than 0.1%, a sharp reduction from the current rate. The world's population increased from 2.5 billion in 1950 to more than 7.7 billion today, growing by between 1% and 2% annually.
                        <cite><a href="https://www.pewresearch.org/short-reads/2019/06/17/worlds-population-is-projected-to-nearly-stop-growing-by-the-end-of-the-century/">World’s population is projected to nearly stop growing by the end of the century</a></cite> BY ANTHONY CILLUFFO AND NEIL G. RUIZ.</p>
                </div>
            </div>
        </div>
    </div>
</div>