 <!-- masthead -->
<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Portfolio of related articles</h1>
        </div>
    </section>
    <h1>Portfolio of Articles</h1>
    <div class="portfolio-container">
<!-- cards -->
        <div class="portfolio-container">
            <div class="container-img-portfolio">
                <img class="portfolio-img" src="./../img/money2.png" alt="money">
            </div>
            <div class="hero-image">
                <p>Value of Money</p>
            </div>
        </div>

        <div class="portfolio-container">
            <div class="container-img-portfolio">
                <img class="portfolio-img" src="./../img/food2.png" alt="gmo-food">
            </div>
            <div class="hero-image">
                <p>Gmo Food</p>
            </div>
        </div>

        <div class="portfolio-container">
            <div class="container-img-portfolio">
                <img class="portfolio-img" src="./../img/world2.png" alt="world by 2100">
            </div>
            <div class="hero-image">
                <p>World by 2100</p>
            </div>
        </div>

        <div class="portfolio-container">
            <div class="container-img-portfolio">
                <img class="portfolio-img" src="./../img/money3.png" alt="money">
            </div>
            <div class="hero-image">
                <p>Value of Money</p>
            </div>
        </div>

        <div class="portfolio-container">
            <div class="container-img-portfolio">
                <img class="portfolio-img" src="./../img/food3.png" alt="gmo-food">
            </div>
            <div class="hero-image">
                <p>Gmo Food</p>
            </div>
        </div>

        <div class="portfolio-container">
            <div class="container-img-portfolio">
                <img class="portfolio-img" src="./../img/world3.png" alt="world by 2100">
            </div>
            <div class="hero-image">
                <p>World by 2100</p>
            </div>
        </div>
    </div>
</div>